# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment and IDE settings
.env
.venv/
*.env
*.venv
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log